* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background:linear-gradient(45deg,rgb(32, 238, 234),rgb(34, 140, 232));
    height:100vh;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    height: 450px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
}

    
.login-close {
    font-size: 22px;
    text-align: right;
    padding-bottom: 5px;
}

.login-tittle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

form > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

form > div > label {
    font-size: 18px;
    font-weight: bold;
    color: grey;
}


form > div > input {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
    font-size: small;
    text-decoration: none;
    color: blue;
}

.forgot a:hover {
    color:blue
}

.login-button {
    padding: 10px;
    margin-bottom: 40px;
    background:linear-gradient(45deg,rgb(32, 238, 234),rgb(34, 140, 232));
    color: white;
    font-size: 20px;
    border: 1px;
    border-radius: 5px;
}

.new-member {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}

.new-member a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}










