<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
    <body>
        <article class="bloco-noticias">
            <div class="destaque">este espaço vai estar destacado</div>
            <h3>Título</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque aspernatur ipsa cum dolore voluptate ratione neque eaque vel harum. Velit laboriosam maiores minus nobis, facilis aut quia voluptatum temporibus voluptates?</p>
        </article>
    </body>
</html>