*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: orangered;
    color: aliceblue;
    padding: 20px;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

}

.left-sidbar {
    flex-grow: 2;
    text-align: center;
    background-color: rgb(0,132,255);
    color: white;
    padding: 20px;
    height: 500px;
}


.main-sidbar {
    flex-grow: 4;
    text-align: center;
    background-color: rgb(91,39,160);
    color: white;
    padding: 20px;
    height: 500px;
}

.right-sidbar {
    flex-grow: 2;
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
    height: 500px;
}

footer {
    background-color: rgb(217, 25, 182);
    justify-content: center;
    display: flex;
    color: white;
    padding: 20px;

}